@using Entity;

@{
    ICollection<Order> orders = ViewBag.orders;
    ICollection<User> users = ViewBag.users;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container body-content">
        <div style="width:100%; text-align: center">
            <h2>All Order</h2>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TIME</th>
                    <th>EMPLOYEE ID</th>
                    <th>CUSTOMER ID</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (Order order in orders)
                    {
                        string empName = "";
                        string cusName = "";
                        foreach(User user in users){
                            if(order.customerID == user.ID)
                            {
                                cusName = user.username;
                            }
                            if (order.employeeID == user.ID)
                            {
                                empName = user.username;
                            }
                        }
                        <tr>
                            <td>@order.ID</td>
                            <td>@order.createdTime</td>
                            <td>@empName</td>
                            <td>@cusName</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
