@{
    ViewBag.Title = "Index";
    Layout = null;
    bool? isSuccess = ViewBag.isSuccess;
    string message = "";
    if (isSuccess !=  null && isSuccess == false)
    {
        message = "Username or Password is wrong! Please check again!";
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/myStyle.css" rel="stylesheet" />
    
</head>
<body>
@{
    IDictionary<string, object> formAttr = new Dictionary<string, object>
    {
        {"id", "loginForm"},
        {"class","login-form"},
        {"enctype", "multipart/form-data"}
    };
}
@using (Html.BeginForm("Index", "Login", FormMethod.Post, formAttr))
{
    <div class="login-title">Admin Login</div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input type="text" name="username" placeholder="Username" class="form-control" maxlength="20" />
        </div>        
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
            <input type="password" name="password" placeholder="Password" class="form-control" maxlength="20" />
        </div>
        <i class="login-fail input-group">@message</i>
        <button type="submit" class="btn btn-primary submit-button">
            <i class="glyphicon glyphicon-log-in"></i> Login
        </button>
    </div>
}
</body>
</html>