@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="~/Content/myStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="logo">
        <img src="~/resource/logo.png" width="25%" height="25%"/>
        <br />
        <img src="~/resource/home.jpg" />
    </div> 
</body>
</html>